body {
  font-family: 'Source Sans Pro', sans-serif;
  margin: 0;
  padding: 0;
  max-width: 100%;
  background: rgb(46, 136, 145);
}

/* *{ 
  box-sizing:border-box;
} */

/* Making layout */

header {
  grid-area: header
}

footer {
  grid-area: footer
}

section {
  grid-area: section
}

aside {
  grid-area: aside
}


.wrapper {
  display: grid;
  grid-template-columns: 3fr 2fr;
  /* grid-template-rows: [header-start] 10vh [header-end] 100vh - 20vh [footer-start] 10vh [footer-end]; */
  /* grid-template-rows: 8vh calc(100vh - 16vh) 8vh; */
  grid-template-rows: auto;
  grid-template-areas: 
    "header header "
    "section aside"
    "footer footer";
}

@media all and (max-width: 800px)  {
  .wrapper {

      grid-template-columns: auto;
      grid-template-rows: auto;
      /* grid-template-rows: 8vh 60vh 24vh 8vh; */
      grid-template-areas:
      "header"
      "section"
      "aside"
      "footer";
  }
}

/* element colors*/
header, footer {
    background: rgb(222, 237, 247);
}

aside{
  background: rgb(246, 247, 199);
}

section {
  background: rgb(219, 155, 72);
}

/* We tell all items to be 100% width, via flex-basis */
/* .wrapper > * {
  flex: 1 100%;
} */

/* HEADER ---------------------- */
header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: stretch;
}

.homebutton {
  margin-left: 10%;
  
}

.navigation {
  margin-right: 5%;
  
}

/* SECTION ----------------------- */
section { 
  display: flex;
  flex-direction: column;
  padding: 5%;
  
  /*align-items: center;
  justify-content: center; */
}

section h1 {
  margin-left: 5%;
  margin-bottom: 5%;
}

.img-fluid {
  margin-left: 5%;
  margin-bottom: 3%;
  padding-right: 5%;
  
}

.main-p {
  text-align: justify;
  margin-left: 5%;
  
}

/* ASIDE ------------------------- */
aside {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5%;
}

.table-wrap {
  display: grid;
  grid-template-columns: 1fr 1fr;
  /* grid-gap: 5%; */
  margin-top: 7%;
 
}

@media all and (max-width: 1000px)  {
  .table-wrap {

      grid-template-columns: 1fr;
      padding-right: 5%;
      grid-gap: 5%;
  }
  
}

@media all and (max-width: 800px)  {
  .table-wrap {

      grid-template-columns: 1fr 1fr 1fr 1fr;
      /* padding-right: 5%; */
      grid-gap: 5%;
  }
}

@media all and (max-width: 550px)  {
  .table-wrap {

      grid-template-columns: 1fr;
      padding-right: 5%;
      grid-gap: 5%;
  }
}


/* FOOTER ------------------------ */
footer {
  display: flex;
  align-items: center;
  justify-content: center;
}