body {
  font-family: 'Source Sans Pro', sans-serif;
  margin: 0;
  padding: 0;
  padding-top: 4%;
  max-width: 100%;
  background: rgb(114, 139, 141);
}

/* *{ 
  box-sizing:border-box;
} */

/* Making layout */

header {
  grid-area: header;
}

footer {
  grid-area: footer;
}

section {
  grid-area: section;
}

aside {
  grid-area: aside;
}


.wrapper {
  display: grid;
  grid-template-columns: 3fr 2fr;
  /* grid-template-rows: [header-start] 10vh [header-end] 100vh - 20vh [footer-start] 10vh [footer-end]; */
  /* grid-template-rows: 8vh calc(100vh - 16vh) 8vh; */
  grid-template-rows: auto;
  grid-template-areas: 
    "header header "
    "section aside"
    "footer footer";
}

@media all and (max-width: 880px)  {
  .wrapper {

      grid-template-columns: auto;
      grid-template-rows: auto;
      /* grid-template-rows: 8vh 60vh 24vh 8vh; */
      grid-template-areas:
      "header"
      "section"
      "aside"
      "footer";
  }
  body {
    padding-top: 7%;
  }
}

/* element colors*/

aside, section {
  background: rgb(233, 242, 245);
}

/* We tell all items to be 100% width, via flex-basis */
/* .wrapper > * {
  flex: 1 100%;
} */

/* HEADER ---------------------- */

.navbar {
  /* display: flex; */
  /* align-items: stretch; */

}


.navbar-brand {
  margin-left: 10%;
  padding: 0.5%;
  
}

.navbar-brand:hover {
  color: rgb(213, 250, 252);
  background: rgb(52, 182, 199);
}

.navbar-collapse {
  margin-right: 5%;
}

.nav-item a:hover {
  background: rgb(147, 164, 172);
}



/* nav::after {
  content: '';
  height: 3px;
  width: 100%;
  background: rgb(31, 95, 104);
} */

/* OLD HEADER -------
header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  
}

.homebutton {
  margin-left: 10%;
}

.navigation {
  margin-right: 5%;
}*/

/* SECTION ----------------------- */
section { 
  display: flex;
  flex-direction: column;
  padding: 5%;
}

section h1 {
  margin-left: 5%;
  margin-bottom: 5%;
}

.cont-wrap {
  padding-right: 5%;
}

.cont-wrap img {
  margin-left: 5%;
  margin-bottom: 3%;
  margin-right: 5%;
  
}

.main-p {
  text-align: justify;
  margin-left: 5%;
  
}

/* ASIDE ------------------------- */
aside {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5%;
}

.table-wrap {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
  margin-top: 7%;
 
}

.table-wrap img {
  border: border-light;
}

@media all and (max-width: 1200px)  {
  .table-wrap {

      grid-template-columns: 1fr;
      padding-right: 5%;
      grid-gap: 10px;
  }
  body {
    padding-top: 4%;
  }
  
}

@media all and (max-width: 880px)  {
  .table-wrap {

      grid-template-columns: 1fr 1fr 1fr 1fr;
      /* padding-right: 5%; */
      grid-gap: 10px;
  }
}

@media all and (max-width: 576px)  {
  .table-wrap {

      grid-template-columns: 1fr;
      padding-right: 5%;
      grid-gap: 10px;
  }
  body {
    padding-top: 8%;
  }
}


/* FOOTER ------------------------ */
footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: rgb(31, 109, 161);
}

.copyright {
  color: aliceblue;
}

.copyright a {
  text-decoration: none;
  color: aliceblue;
}

.copyright a:hover {
  color: rgb(171, 245, 245);
}

footer::before {
  content: '';
  height: 3px;
  width: 100%;
  background: rgb(67, 230, 252);
}


/* COMPARISON -------------- */
.comp-wrap {
  display: grid;
  grid-template-columns: 1fr;
  /* grid-template-rows: [header-start] 10vh [header-end] 100vh - 20vh [footer-start] 10vh [footer-end]; */
  /* grid-template-rows: 8vh calc(100vh - 16vh) 8vh; */
  grid-template-rows: auto;
  grid-template-areas: 
    "header "
    "section"
    "footer";
}

.main-comp {
  display: flex;
  align-items: center;
}

.main-comp H1,  .main-comp H2 {
  width: 100%;
  margin-left: 15%;
  margin-bottom: 5%;

}

.img1 {
  grid-area: img1;
}

.img2 {
  grid-area: img2;
}

.img3 {
  grid-area: img3;
}

.img4 {
  grid-area: img4;
}

.table-wrap-comp {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  grid-gap: 8%;
  grid-template-areas: 
  "img1 img2"
  "img3 img4"
}

@media all and (max-width: 880px) {
  .table-wrap-comp {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-gap: 6%;
    grid-template-areas: 
    "img1"
    "img2"
    "img3"
    "img4"
  }
}

