body {
    font-family: 'Cabin Condensed', sans-serif;
    position: relative;
    padding: 0;
    margin: 0;
    }

nav {
    /*padding: 15px 0;*/
    margin: 0;
    margin-bottom: 15px;
    position: fixed;
    z-index: 2;
    /*display: inline;*/
    width: 100%;
    justify-content: center;
    display: flex;
    flex-flow: row wrap;
    /*justify-content: flex-end;*/
    display: inline-block;
    background-color: rgb(147, 175, 228);
    border: 5px solid rgba(19, 85, 146, 0.7);
}


.nav a {
    /*margin-left: 2%;
    margin-right: 2%;*/
    /*float: right;*/
    padding: 10pt;
    
    float: right;
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    border: 1px solid rgba(22, 223, 55, 0.7);
}

.main-page {
    
    float: left;
    border: 5px solid rgba(218, 13, 23, 0.7); 
}

.nav-main  {
    justify-content: center;
    align-items: center;
    display: inline-block;
    border: 5px solid rgba(235, 232, 55, 0.7);
}

.main {
    position: absolute;
    z-index: 1;
    
    top: 15%;
    /*bottom: 20%;*/
    width: 60%;
    margin: 0 auto;
    padding: 20px, 50px;
    border: 2px solid rgba(105, 231, 32, 0.7);
}

.first-page {
    float: left;
}

.img {
    position: relative;
}

.main-img {
    float: left;
    margin-right: 20px;
}

.main-p {
    
}


.viz {
    position: fixed;
    top: 15%;
    right: 0%;
    width: 35%;
    border: 5px solid rgba(41, 21, 22, 0.7);
    /*display: block;*/
    float: right;
    
}

footer {
    position: fixed;
    width: 100%;
    bottom: 0%;
    border: 5px solid rgba(41, 21, 22, 0.7);
    align-items: center;
    background: azure;
    z-index: 2;
  }

.icons {
    align-items: center;
}

  .icons a {
    display: inline-block;
    
  }
/* ----------------------------------------*/

*{ 
    box-sizing:border-box;
    /*font-family:"Dosis", sans-serif; */
  }
  
.main-navigation{
    
    /*margin:2em;*/
}
  
ul{
    margin:0; 
    padding:0;
}
  
.menu {
    display:flex;  
    flex-direction:column;
}
.menu li {
      display: block;
      list-style-type:none;
      text-transform:uppercase;
    }
    
.menu li a{
      display:flex;
      text-align:center;
      text-decoration:none;
      color:#777;
      padding:1rem;
    }
    
.menu li a:hover{
      background:#777;
      color:#fff;
    }
   
  
 @media (min-width: 800px) {
      .menu{
        flex-direction:row;
        justify-content:space-between;
      }
  }
  
  .menu-item-has-children > a:after{
    font-family:'Genericons';
    content: '\f431';
    padding:1px;
  }
  
  nav ul ul {
      display: none;
  }
  
  @media (min-width: 800px) {
    nav ul ul {
      display: none;
      position:absolute;
    }
  }
  
  nav ul li:hover > ul {
    display:block;
    color:#fff;
    padding-left:2rem;
  }
  
  @media (min-width: 800px) {
    nav ul li:hover > ul {
      padding-left:0;
      background:#777;
    }
    
    nav ul li:hover > ul a{
      color:#fff;
    }
    
    .sub-menu{
      li{
        display:flex;
        padding-right:2em;
      }
      
      li:hover, li a:hover{
        background:#ddd;
        color:#777;
      }
    }
    
    nav ul ul ul{
      margin:0 0 0 100%;
      box-shadow: 0 0 2px rgba(0, 0, 0, 0.6);
    }
    
    .menu-item-has-children .menu-item-has-children > a:after{
      font-family:'Genericons';
      content: '\f431';
      padding:1px;
      transform: rotate(-90deg);
    }
    
  }
  